.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    margin-top: 20px;
    width: 100%;
    background: transparent;
}
.nav-logo{
    background-color:transparent;
    height: 50px;
    padding-left: 20px;
}

.avatar{
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
}